@model Guardian.Domain.Target.TargetDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Target</h1>
<hr />
<div>
    <form asp-action="ReCreateCertificate">
        <input type="hidden" asp-for="Id" />
        <button class="btn btn-primary" type="submit">Re-create Certificate</button>
    </form>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Domain" class="control-label"></label>
                <input asp-for="Domain" class="form-control" />
                <span asp-validation-for="Domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginIpAddress" class="control-label"></label>
                <input asp-for="OriginIpAddress" class="form-control" />
                <span asp-validation-for="OriginIpAddress" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="UseHttps" class="form-check-input" />
                <label asp-for="UseHttps" class="form-check-label"></label>
                <span asp-validation-for="UseHttps" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="WAFEnabled" class="form-check-input" />
                <label asp-for="WAFEnabled" class="form-check-label"></label>
                <span asp-validation-for="WAFEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proto" class="control-label"></label>
                <select asp-for="Proto" class="form-control">
                    <option value="@Guardian.Infrastructure.Entity.Protocol.Http">@Guardian.Infrastructure.Entity.Protocol.Http.ToString()</option>
                    <option value="@Guardian.Infrastructure.Entity.Protocol.Https">@Guardian.Infrastructure.Entity.Protocol.Https.ToString()</option>
                </select>
                <span asp-validation-for="Proto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertKey" class="control-label"></label>
                <textarea asp-for="CertKey" class="form-control"></textarea>
                <span asp-validation-for="CertKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertCrt" class="control-label"></label>
                <textarea asp-for="CertCrt" class="form-control"></textarea>
                <span asp-validation-for="CertCrt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

