@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="alert alert-info">
    <p>
        You can create custom expression using text contains base, lexical order on strings (<=,<,>
            ,>=), regex match (=~) and regex not match (!~) like below;
    </p>
    <p>
        http.path == "/example/path" && ip.src == "10.20.30.40" && http.header !~ "User-Agent=(.*)"
    </p>
    <p>
        This rule will block the request if the path is "/example/path" and client's ip address is 10.20.30.40 and no user agent header.
    </p>
    <p>
        Here is the complete model that you can use while writing your custom rule;
    </p>
    <ul>
        <li>
            ip.src: client's ip address.
        </li>
        <li>
            http.query: raw query string.
        </li>
        <li>http.path: request's path.</li>
        <li>http.host: host header.</li>
        <li>http.cookie: Key value raw cookie. e.g cookie1=value1; cookie2=value2;</li>
        <li>http.header: Key value raw headers.</li>
        <li>http.method: request's http method.</li>
        <li>http.protocol: request's protocol.</li>
    </ul>
</div>